
<div class="readjust-layout">
    <a ng-click="newFile()" class="btn-wrap" >
        <span class="btn-icon glyphicon-floppy-disk"></span>
        <span class="btn-label">{{ 'newFile' | lang: 'ui/command' }}</span>
    </a>
    <a ng-click="openFile()" class="btn-wrap" >
        <span class="btn-icon glyphicon-floppy-disk"></span>
        <span class="btn-label">{{ 'openFile' | lang: 'ui/command' }}</span>
    </a>
    <a ng-click="importFile()" class="btn-wrap" >
        <span class="btn-icon glyphicon-floppy-disk"></span>
        <span class="btn-label">{{ 'importFile' | lang: 'ui/command' }}</span>
    </a>
    <a ng-click="saveFile()" class="btn-wrap" >
        <span class="btn-icon glyphicon-floppy-disk"></span>
        <span class="btn-label">{{ 'saveFile' | lang: 'ui/command' }}</span>
    </a>
    <a ng-click="exportFile()" class="btn-wrap" >
        <span class="btn-icon glyphicon-floppy-disk"></span>
        <span class="btn-label">{{ 'exportFile' | lang: 'ui/command' }}</span>
    </a>
</div>
